{{% BLOCKS }}
{{< layout/index }}
    {{$ title }}Home{{/ title }}
    {{$ content }}
        <section class="box">
        {{>posts/create}}
        </section>
        <section class="box">
            Deine Beiträge
        </section>

    {{/ content }}
{{/ layout/index }}