{{% BLOCKS }}
{{< layout/index }}
    {{$ title }}Startseite{{/ title }}
    {{$ content }}
        <section class="box">
            <h2 class="title">{{welcomeMessage}}</h2>
            <a href="/account/login" class="button is-1 is-primary">Login</a>
            <a href="/account/create" class="button is-1 is-primary">Registrierung</a>
        </section>

    {{/ content }}
{{/ layout/index }}